*{
    margin:0px;
    padding:0px;
    font-family: 'Noto Sans TC', sans-serif;
font-family: 'Karla', sans-serif;
    font-weight: 500;
}
.container{}
.operationScreen{display: flex;
                 align-items: center; 
             }
.inputOutputScreen{
        display: flex;
    flex-direction: column;
    /*border: 1px solid;*/
    flex-grow: 1;
}

.inputOutputScreen input:focus{
    outline:none;
}

.inputOutputScreen input{
height: 40px;
text-align: right;
padding: 0px 5px;
border: none;
font-size: 17px;
font-weight: 600;
color: #514e4e;
}
.clearButton{
/*background: red;*/
color: #fff;

    width:150px; height: 80px;display: flex; justify-content: center;align-items: center;}
.clearButton span{

}
.numberSection{display: flex;    display: flex;
    background: #e8e8e8;

font-size: 30px;

}
.inputButtonsContainer{flex-grow:1; }
.mathSymbol{
 width: 150px;
/*background: #c0caca;*/
color: #000;
    }
.row{display: flex;}
.row div{ 
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mathSymbol div{
	display: flex;
	justify-content: center;
	align-items: center;
}
.row div span{
	
}

.mathSymbol div:active{
    background:red;
}

.active{
    background: red;
    transition: 0.2s all;
}